# MacOS
*.DS_Store

# Docker env
.env

# Intellij
.idea
*.iml
*.iws
*.ipr

# Project logs
*.log
*build_info.txt

# Kubernetes
kubernetes/kubernetes_the_hard_way/auth
*.crt
*.key
**/charts/*.tgz
**/requirements.lock
